.success {
    color: green;
}
.danger {
    color: red;
}
.noButton {
    border: none;
    background-color: transparent;
}
.link{
    text-decoration: underline;
    cursor: pointer;
}
.btn-center {
    width: 100px;
    margin: auto;
}